
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>infly</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/182603b8d9.js" crossorigin="anonymous"></script>
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'owl.theme.default.min.css' %}">
    
</head>
<body>
    <header class="container">
        <img src="{% static 'images/02 1.png' %}" alt="">
        <nav>
            <ul class="list1">
                <li><a href="#">Home</a></li>
                <li><a href="#imgdc">Products</a></li>
                <li><a href="#">International customer</a></li>
                <li><a href="#abtus">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <nav id="icon5" class="jav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#imgdc">Products</a></li>
                <li><a href="#">International customer</a></li>
                <li><a href="#abtus">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <nav>
            <span id="mobile">
                <i class="fa-solid fa-bars"></i>
            </span>
        </nav>
        
        
    </header> 
        <section id="spotlight" class=" ">    
            <div class="d-flex align-c j-sb">
                <div class="stick">
                    <h2>Become an</h2>
                    <h1>INFLUENCER</h1>
                    <P>Exclusive reels/shorts bundle!</P>
                    <p class="stick1">Buy all@<span><i class="fa-solid fa-indian-rupee-sign"></i></span>1999/-</p>
                </div>
                <div class="pic1">
                   
                    <img class=second src="{% static 'images/spotIllustration_01 1.png' %}" alt="">
                </div>
            </div>
            <img class=first src="{% static 'images/Vector 5.png' %}" alt="">

            <div class="d-flex" id="df">
                <div class="pic2">
                  <img src="{% static 'images/Category 4.png' %}" width="100%">
               </div>
               <div class="pic3">
                  <img src="{% static 'images/Category 5.png' %}" width="100%">
               </div>
               <div class="pic4">
                <img src="{% static 'images/Category 6.png' %}" width="100%">
               </div>
            </div>
            <span class="a-r">
                <i class="fa-solid fa-arrow-down-long"></i>
            </span>
        </section>
        <div class="purchase-details" id="hiddenbox">
            <a href="javascript:void(0);" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="smallcontainer">
                <div class="inboximg">
                    <img src="{% static 'images/1675d4_821ad9a45e2e403c9ef77e0a3ca34728~mv2.jpg.png' %}" alt="">
                </div>
                <div class="smallimg1">
                    <div class="smallimg">
                        <img src="{% static 'images/1675d4_821ad9a45e2e403c9ef77e0a3ca34728~mv2.jpg.png' %}" alt="">
                        <img src="{% static 'images/1675d4_821ad9a45e2e403c9ef77e0a3ca34728~mv2.jpg.png' %}" alt="">
                        <img src="{% static 'images/1675d4_821ad9a45e2e403c9ef77e0a3ca34728~mv2.jpg.png' %}" alt="">
                        <img src="{% static 'images/1675d4_821ad9a45e2e403c9ef77e0a3ca34728~mv2.jpg.png' %}" alt="">
                    </div>
                </div>
                <div class="prdctdetails">
                    <p class="inboxhead">1500+ Ready To Use Viral Reels Bundle</p>
                    <span><span>&#8377</span>95.00</span>
                </div>
                <div class="rating">
                    <img src="{% static 'images/Vector-1.png' %}" alt=""><img src="{% static 'images/Vector-1.png' %}" alt=""><img src="{% static 'images/Vector-1.png' %}" alt=""><img src="{% static 'images/Vector-1.png' %}" alt=""><img src="{% static 'images/Vector-1.png' %}" alt="">
                    <span>116 Reviews</span>
                </div>
                <button onclick="location.href='./checkout/checkout.html';" class="buynow">Buy Now</button>
                <div class="description">
                    <h3>Description</h3>
                    <p>
                        Get 1500+ Viral Motivational Ready-Made Reel Videos Save Your Time & Boost Your Social Media
                        Are you Struggling to find Motivational Reels on Instagram without Watermark and Logo? We have a Solution for that, Get 1500+ Ready-Made Reel Videos .
                    </p>
                </div>
                <div class="Fileinc">
                    <h3>File Includes</h3>
                    <ul>
                        <li>1500+ Reels Ready To Use Without Watermark & Logo.</li>
                        <li>Ultimate Canva Keyword Guide</li>
                        <li>90+ Powerful Set Of Hashtags.</li>
                    </ul>
                </div>
                <div class="howit">
                    <h3>How It Will Be Delivered</h3>
                    <ul>
                        <li>Once you place order.</li>
                        <li>Check your mail you will also receive thank you for shopping with product details.</li>
                        <li>There will download button click & download PDF from there.</li>
                        <li>Once you download PDF click on the template link (find template link on PDF) from the PDF you will be taken to Google Drive.</li>
                    </ul>
                </div>
            </div> 
            </div>
        <section>
            <div class="collection" id="imgdc">
                <h3>Explore Digital Collection</h3>
            </div>
            <div class="image-s">
                {% for item in items %}
                    <div class="image1">
                        <img src="{{ item.image.url }}">
                        <p>{{ item.name }}<br>{{ item.price }}</p>
                        <!-- <p>{{ item.description }}</p> -->
                    </div>
                {% endfor %}
                <!-- <div class="image1">
                    <img src="{% static 'images/1675d4_821ad9a45e2e403c9ef77e0a3ca34728~mv2.jpg.png' %}">
                    <p>700+ GB Ultimate Graphic Designing Pack.<br>₹95.00</p>
                </div>
                <div class="image1">
                    <img src="{% static 'images/1675d4_821ad9a45e2e403c9ef77e0a3ca34728~mv2.jpg.png' %}">
                    <p>700+ GB Ultimate Graphic Designing Pack.<br>₹95.00</p>
                </div>
                <div class="image1">
                    <img src="{% static 'images/1675d4_821ad9a45e2e403c9ef77e0a3ca34728~mv2.jpg.png' %}">
                    <p>700+ GB Ultimate Graphic Designing Pack.<br>₹95.00</p>
                </div> -->
            </div>
        </section>
        <section class="b-c container">
            
            <div class="s-r">
                 <div class="h-4">
                    <button>Explore More</button>
                 </div>
                 <div>
                    <h3>Hear from our satisfied customers</h3>
                </div>
                 <div id="popup" class="shareyourexp">
                    <div class="expcontent">
                        <h3>Share Your Experience</h3>
                        <div class="expstars flex-box">
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.3065 2.68002L18.6532 7.37335C18.9732 8.02669 19.8265 8.65335 20.5465 8.77335L24.7999 9.48002C27.5199 9.93335 28.1599 11.9067 26.1999 13.8534L22.8932 17.16C22.3332 17.72 22.0265 18.8 22.1999 19.5734L23.1465 23.6667C23.8932 26.9067 22.1732 28.16 19.3065 26.4667L15.3199 24.1067C14.5999 23.68 13.4132 23.68 12.6799 24.1067L8.69321 26.4667C5.83988 28.16 4.10655 26.8934 4.85321 23.6667L5.79988 19.5734C5.97321 18.8 5.66655 17.72 5.10655 17.16L1.79988 13.8534C-0.146788 11.9067 0.479879 9.93335 3.19988 9.48002L7.45321 8.77335C8.15988 8.65335 9.01321 8.02669 9.33321 7.37335L11.6799 2.68002C12.9599 0.133353 15.0399 0.133353 16.3065 2.68002Z" fill="#5E17EB"/>
                                </svg>
                                 <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.3065 2.68002L18.6532 7.37335C18.9732 8.02669 19.8265 8.65335 20.5465 8.77335L24.7999 9.48002C27.5199 9.93335 28.1599 11.9067 26.1999 13.8534L22.8932 17.16C22.3332 17.72 22.0265 18.8 22.1999 19.5734L23.1465 23.6667C23.8932 26.9067 22.1732 28.16 19.3065 26.4667L15.3199 24.1067C14.5999 23.68 13.4132 23.68 12.6799 24.1067L8.69321 26.4667C5.83988 28.16 4.10655 26.8934 4.85321 23.6667L5.79988 19.5734C5.97321 18.8 5.66655 17.72 5.10655 17.16L1.79988 13.8534C-0.146788 11.9067 0.479879 9.93335 3.19988 9.48002L7.45321 8.77335C8.15988 8.65335 9.01321 8.02669 9.33321 7.37335L11.6799 2.68002C12.9599 0.133353 15.0399 0.133353 16.3065 2.68002Z" fill="#5E17EB"/>
                                    </svg>
                                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16.3065 2.68002L18.6532 7.37335C18.9732 8.02669 19.8265 8.65335 20.5465 8.77335L24.7999 9.48002C27.5199 9.93335 28.1599 11.9067 26.1999 13.8534L22.8932 17.16C22.3332 17.72 22.0265 18.8 22.1999 19.5734L23.1465 23.6667C23.8932 26.9067 22.1732 28.16 19.3065 26.4667L15.3199 24.1067C14.5999 23.68 13.4132 23.68 12.6799 24.1067L8.69321 26.4667C5.83988 28.16 4.10655 26.8934 4.85321 23.6667L5.79988 19.5734C5.97321 18.8 5.66655 17.72 5.10655 17.16L1.79988 13.8534C-0.146788 11.9067 0.479879 9.93335 3.19988 9.48002L7.45321 8.77335C8.15988 8.65335 9.01321 8.02669 9.33321 7.37335L11.6799 2.68002C12.9599 0.133353 15.0399 0.133353 16.3065 2.68002Z" fill="#5E17EB"/>
                                        </svg> 
                                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M16.3065 2.68002L18.6532 7.37335C18.9732 8.02669 19.8265 8.65335 20.5465 8.77335L24.7999 9.48002C27.5199 9.93335 28.1599 11.9067 26.1999 13.8534L22.8932 17.16C22.3332 17.72 22.0265 18.8 22.1999 19.5734L23.1465 23.6667C23.8932 26.9067 22.1732 28.16 19.3065 26.4667L15.3199 24.1067C14.5999 23.68 13.4132 23.68 12.6799 24.1067L8.69321 26.4667C5.83988 28.16 4.10655 26.8934 4.85321 23.6667L5.79988 19.5734C5.97321 18.8 5.66655 17.72 5.10655 17.16L1.79988 13.8534C-0.146788 11.9067 0.479879 9.93335 3.19988 9.48002L7.45321 8.77335C8.15988 8.65335 9.01321 8.02669 9.33321 7.37335L11.6799 2.68002C12.9599 0.133353 15.0399 0.133353 16.3065 2.68002Z" fill="#5E17EB"/>
                                            </svg>
                                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M16.3065 2.68002L18.6532 7.37335C18.9732 8.02669 19.8265 8.65335 20.5465 8.77335L24.7999 9.48002C27.5199 9.93335 28.1599 11.9067 26.1999 13.8534L22.8932 17.16C22.3332 17.72 22.0265 18.8 22.1999 19.5734L23.1465 23.6667C23.8932 26.9067 22.1732 28.16 19.3065 26.4667L15.3199 24.1067C14.5999 23.68 13.4132 23.68 12.6799 24.1067L8.69321 26.4667C5.83988 28.16 4.10655 26.8934 4.85321 23.6667L5.79988 19.5734C5.97321 18.8 5.66655 17.72 5.10655 17.16L1.79988 13.8534C-0.146788 11.9067 0.479879 9.93335 3.19988 9.48002L7.45321 8.77335C8.15988 8.65335 9.01321 8.02669 9.33321 7.37335L11.6799 2.68002C12.9599 0.133353 15.0399 0.133353 16.3065 2.68002Z" fill="#5E17EB"/>
                                                </svg>
                                            
                        </div>
                        <p>Name</p>
                        <input type="name">
                        <p>Do you have any thoughts you'd like to share?</p>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                        <div class="expbuttons flex-box">
                            <button onclick="closeExp()">Cancel</button>
                            <button>Post</button>
                        </div>
                    </div> 
                </div>
                <div class="v" id="feedbackbtn">
                    <h4 class="v-l" id="feedbackbtn">Share Your Experience</h4>
                </div>
            </div>
            <div class="stars owl-carousel">
                <div class="star1">
                    <div class="d-flex j-c">
                        <img src="{% static 'images/Vector-1.png' %}">
                        <img src="{% static 'images/Vector-1.png' %}">
                        <img src="{% static 'images/Vector-1.png' %}">
                        <img src="{% static 'images/Vector-1.png' %}">
                        <img src="{% static 'images/Vector-1.png' %}">
                    </div>
                    <p>"As someone who is not very design-savvy, I was hesitant to try creating my own graphics. But with the help of these templates, I was able to create professional-looking designs in minutes. Thank you!"<br>
                    </p>
                    <p>-John R</p>
                </div>
                <div class="star1">
                    <div class="d-flex j-c">
                        <img src="{% static 'images/Vector-1.png' %}">
                        <img src="{% static 'images/Vector-1.png' %}">
                        <img src="{% static 'images/Vector-1.png' %}">
                        <img src="{% static 'images/Vector-1.png' %}">
                        <img src="{% static 'images/Vector-1.png' %}">
                    </div>
                   <p>"I've been using these templates for a few months now, and I can't imagine going back to creating everything from scratch. The quality is top-notch, and the variety of options means I can always find something that fits my needs."<br>
                    </p>
                    <p>-David T</p>
                <div class="quotes">
                    <img src="{% static 'images/Vector.png' %}">
                    <img src="{% static 'images/Vector.png' %}">
                </div>
            </div>
                <div class="star1">
                    <div class="d-flex j-c">
                        <img src="{% static 'images/Vector-1.png' %}">
                        <img src="{% static 'images/Vector-1.png' %}">
                        <img src="{% static 'images/Vector-1.png' %}">
                        <img src="{% static 'images/Vector-1.png' %}">
                        <img src="{% static 'images/Vector-1.png' %}">
                    </div>
                  <p>"I love how easy it is to customize these templates to fit my brand's aesthetic. The illustrations and graphics are beautiful, and the Photoshop templates are a dream to work with. I highly recommend to anyone looking to up their design game!"<br>
                    </p>
                    <p>-Amanda K</p>
                </div>
                </div>
                <div class="s-n">
                    <button class="sn">Shop Now</button>
                </div>
            </div>
            <div class="hp" id="abtus">
                <h3>About Us</h3>
                <p>A brand & digital products agency for ambitious businesses & life.</p>
                <p>Crafting engaging content for social media can be a daunting task, but don't worry, we're here to help. Our team has been working hard to produce eye-catching infographics that are already formatted and ready for you to post on your social media channels. With our content at your fingertips, you'll have more time to focus on growing your business and less time worrying about what to post next.
                    At our core, we're dedicated to creating products that are not only of the highest quality, but also sustainable. That's why we're excited to announce the launch of our online store, where you can find a wide range of environmentally conscious products. We're thrilled that you've found us and we hope that you'll love our products just as much as we do.</p>
            </div>
            <div class="mobilerate">
                <div class="exprate">
                    <h3>Share Your Experience with us</h3>
                    <a href="javascript:void(0)" id="rate">Rate</a>
                </div>
            </div>
        </section>
        <section class="a-b">
            <div class="s-r">
                <h3>Stay in the Loop with Our New Arrivals and<br>Unbeatable Offers</h3>
            </div>
            <div class="cl">
             <p>
                <input class="em" type="text"placeholder="enter your email here">
                <button class="bn">Subscribe Now</button>
             </p>
            </div>
        </section>
        <footer>
            <div class="f-t">
                <div class="f-t1">
                    <h1>INFLY</h1>
                    <p>HOME</p>
                    <p>ABOUT</p>
                    <p>CONTACT</p>
                    <p>FAQ</p>
               </div>
               <div class="f-t2">
                   <p>TERMS&CONDITIONS</p>
                   <p>PRIVASY POLICY</p>
                   <p>REFUND&RETURN POLICY</p>
                   <p>SHIPPING&DELIVERY</p>
               </div>
               <div class="f-t3">
                    <h4>FOLLOW US ON</h4>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-square-twitter"></i>
                    <i class="fa-regular fa-envelope"></i>
               </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
        <script src="{% static 'owl.carousel.min.js' %}"></script>
        <script>
            $('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            nav:true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:3
                }
            }
        })
        </script>
        <script src="{% static 'script.js' %}"></script>
           
        
    
